.houses{
  
    margin-top: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    width: 70%;
}

.houses-2{
    pointer-events:none;
    margin-top: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    background: rgba(113, 110, 110, 0.75);
    height: 100%;
    transition: al 1.3s;
    width: 100%;
}



  .modal-wrapper{
      font-size: 30px;
      background: red;
      width: 50%;
      height: 400px;
      position: fixed;
      top: 50%;
      left: 5%;
      transform: translate(-50%, -50%);
      border: 5px solid #ccc;
      overflow: auto;
      border-radius: 10px;
      outline: none;
      padding: 20px;
      margin: 4rem auto;
      transition: all 0.5s ease;
      z-index:10;
  }


  
.bucket-list{
    list-style-type: none;
}

